<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=100%, initial-scale=1.0">
    <title>UZHAVAN</title>
    <link rel="stylesheet" href="Home_page.css">
</head>
<body>
    <header id="menu" class="head_bar">
        <nav class="logo">
            <a href="#" class="logo_image">Logo</a>
            <p class="title">E-UZHAVAR SANDHAI</p>
        </nav>
        <nav class="navigation">
            <select class="options">
            <option value="options">Items</option>
            <option value="all">All</option>
            <option value="vegetables">vegetables</option>
            <option value="Fruits">Fruits</option>
            <option vlaue="nuts">Nuts</option>
            <option value="milky products">Milky products</option>
            <option value="others">Others</option></select>
            <input type="search" class="search_box" placeholder="Search">
                <a href="" class="attr">Home</a>
                <a href="" class="attr">About</a>
                <a href="" class="attr">Services</a>
                <a href="" class="attr" id="">Contacts</a>
                <button class="login" onclick="Login()">Register/login</button>
            <script>
                function Login() {
                    window.location.href = "login1.html";
                }
            </script>
            <button class="add_cart">Add cart</button>
        </nav>
        </header>
        <nav id="major_goods" class="second_menu">
            <a href="" class="Notification">Notification of Site</a>
            <a href="" class="location ">Choose location</a>
        </nav>
   
    <fieldset class="main_content">
        
        <section id="consumer_guide" class="row1">
            <section class="row1_list">
                <section class="row1_title">
                    <h2 >Major selling item</h2>
                </section class="row1_attr">
                    <a href="" class="vegetables">Vegetables</a>
                    <a href="" class="fruits">Fruits</a>
                    <a href="" class="nuts">Nuts</a>
                    <a href="" class="milky_products">Milky products</a>
                    <a href="" class="grains">Grains</a>
                    <a href="" class="protein">Proteins</a>
                    <a href="" class="green_leaves">Green leaves</a>
            </section>
            <section class="row1_image">
                <img src="vegetable.jpg" alt="vegetables">
                <img src="fruit.jpg" alt="fruits">
                <img src="grains.jpg" alt="grains">
                <img src="nuts.jpg" alt="nuts">
            </section>
        </section>
        
        <section class="row2"> 
            <section class="row2_list">
                <section class="row2_title">
                    <h2>Buying process for consumers</h2>
                </section>
                <section>
                    <a href="" class="choose_the_goods">Choose your goods</a>
                    <a href="" class="add_to_cart">Add to cart</a>
                    <a href="" class="check_your_list">Check your list</a>
                    <a href="" class="payment_methods">Payment methods</a>
                    <a href="" class="confirm the order">Confirm the order</a>
                </section>
            </section>
                <section class="row2_image">
                    <img src="process_buying.png" alt="description">
                    
                </section>
            </section>
                <section class="row3">
                    <section class="row3_list">
                        <section class="row3_title">
                            <h2>Best selling price</h2>
                        </section>
                            <a href="" class="vegetables">Vegetables</a>
                            <a href="" class="fruits">Fruits</a>
                            <a href="" class="nuts">Nuts</a>
                            <a href="" class="milky_products">Milky products</a>
                            <a href="" class="grains">Grains</a>
                            
                        </section>
                        <section class="row3_image">
                            <img src="fats_oils.jpg" alt="fat and oils">
                            <img src="nuts.jpg" alt="nuts2">
                            <img src="fruit.jpg" alt="fruits">
                        </section>        
                    </section>
        
        <section class="row4">
            <section class="row4_list">
                <section class="row4_title">
                    <h2>Season goods</h2>
                    </section>
                    <section class="scroll_pane">
                    <a href="" class="vegetables">Vegetables</a>
                    <a href="" class="fruits">Fruits</a>
                    <a href="" class="nuts">Nuts</a>
                    <a href="" class="milky_products">Milky products</a>
                    <a href="" class="grains">Grains</a>
                </section>
            </section>
            <section class="row4_image">
                <img src="fruit.jpg" alt="fruits">
                <img src="grains.jpg" alt="grains">
                <img src="vegetable.jpg" alt="grains">
            </section>
        </section>

        <section class="webinfo">
           <section class="about_us">
                <h3>About us</h3>
                <a href="">About us</a>
                <a href="">Informations</a>
                <a href="">Selling stories</a>
                <a href="">Site reviews</a>
                <a href="">Trasport description</a>
            </section>
            <section class="customer_support">
                <h3>Customer support</h3>
                <a href="">Available district</a>
                <a href="">Order status</a>
                <a href="">FAQ</a>
                <a href="">Report</a>
            </section>
           
            <section class="farmer_support">
                <h3>farmer Support</h3>
                <a href="">Signup</a>
                <a href="">Login</a>
                <a href="">Terms&conditions</a>
            </section>
            
            <section class="site_map">
                <h3>Site map</h3>
                <a href="#menu">Menu</a>
                <a href="#major_goods">Major goods</a>
                <a href="#consumer_guide">Consumer guide</a>
                <a href="#best_selling">Best price goods</a>
                <a href="#season_goods">Season goods</a>
            </section>
            <section class="payment_methods">
                <h3>Payment methods</h3>
                <a href="">Credit/debit</a>
                <a href="">Netbanking</a>
                <a href="">Mobile apps</a>
            </section>
        </section>
    </fieldset>
<footer class="footer"><h3>Note: <a href="">cash on delivery not available now</a></h3></footer>
</body>
</html>